.sbisru-Header-ContactsMenu {
    display: inline-block;
    position: relative
}

@media (max-width:616px) {
    .sbisru-Header-ContactsMenu {
        position: static
    }
}

@media (max-width:616px) {}

@media (max-width:1024px) {}

@media (min-width:616px) {}