.sbis_ru-CookieAgreement__scheme--retail {
    --color-list-item-color: #6a6f79
}

.sbis_ru-CookieAgreement__message {
    color: var(--color-list-item-color);
    font-size: 14px;
    line-height: 19px
}

.sbis_ru-CookieAgreement__link {
    color: var(--color-list-item-color);
    text-underline-position: under;
    text-decoration: underline
}