.sbisru-Reviews-ItemTemplateVideo {
    border-radius: 24px;
    position: relative;
    overflow: hidden
}

@media (max-width:1024px) {
    .sbisru-Reviews-ItemTemplateVideo {
        width: 284px;
        height: 169px
    }
}

.sbisru-Reviews-ItemTemplateVideo--size-s {
    width: 282px;
    height: 170px
}

@media (max-width:1024px) {
    .sbisru-Reviews-ItemTemplateVideo--size-s {
        width: 225px;
        height: 134px
    }
}

.ws-is-hover .sbisru-Reviews-ItemTemplateVideo:hover .sbisru-Reviews-ItemTemplateVideo__shadow {
    visibility: visible
}

.ws-is-hover .sbisru-Reviews-ItemTemplateVideo:hover .sbisru-Reviews-ItemTemplateVideo__button {
    background-color: #f87045
}

.ws-is-hover .sbisru-Reviews-ItemTemplateVideo:hover .sbisru-Reviews-ItemTemplateVideo__button-svg {
    fill: #ffffffb3
}

.sbisru-Reviews-ItemTemplateVideo__shadow {
    visibility: hidden;
    color: var(--color-white, #fff);
    background: linear-gradient(#0000 0%, #00000026 52%, #000000b3 100%);
    border-radius: 24px;
    width: 100%;
    height: 100%;
    position: relative
}

.sbisru-Reviews-ItemTemplateVideo__button {
    background-color: #dadce7e6;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    position: absolute;
    top: 8px;
    right: 8px
}

.sbisru-Reviews-ItemTemplateVideo__button-svg {
    fill: #333333b3;
    margin-left: 3px
}

.sbisru-Reviews-ItemTemplateVideo__poster {
    height: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.sbisru-Reviews-ItemTemplateVideo__video-link {
    width: 100%;
    height: 100%
}